@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .outline-text-white {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    color: transparent;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: #1a1010;
  font-family: "Montserrat", sans-serif;
}
